General body styling
body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  font-size: 14px;
  background-color: #f4f4f4;
}

:root {
  --stickyBG: #ffd165;
  --strickyContentBG: rgb(53, 53, 53);
}

.note-item {
  margin-top: 10px;
  padding: 8px;
  background-color: #fffa65;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Sticky Note styling */
.sticky-note {
  position: relative;
  width: 300px;
  height: auto;
  /* min-height: 100px;
  max-height: 300px; */
  border: 1px solid #ccccccb4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute; /* Absolute positioning for drag */
  color: #000;
}

/* Top draggable area (handle) */
.sticky-note .note-header {
  background-color: var(--stickyBG);
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: absolute;
  /* background-color: rgba(128, 128, 128, 0.271); */
  width: 100%;
  height: 32px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.sticky-note-menu-options {
  position: absolute;
  background-color: rgba(192, 94, 94, 0.467);
  /* height: 100%;
  width: 100%; */
  z-index: 1;
}

/* sticky note color pallets */
.sticky-note-colors {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  display: none;
}

.sticky-note-color-pallets {
  height: 50px;
  width: 42.6px;
  background-color: rgb(91, 88, 88);
  /* margin: 1px; */
}

.sticky-note-color-pallets:hover {
  background-color: rgba(255, 0, 0, 0.481);
}

.pallet-pink{
  background-color: pink;
}

.sticky-cont-item img {
  height: 12px;
  /* color: #ddd; */
  filter: brightness(0) invert(1);
}

/* sticky note control box */
.sticky-note-cont {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(86, 86, 86, 0.697);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3px;
  background-color: var(--strickyContentBG);
}

.sticky-cont-item {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 10px;
  border-radius: 1px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.sticky-cont-item:hover {
  border: 1px solid rgba(128, 128, 128, 0.15);
  background-color: rgba(128, 128, 128, 0.356);
}

.sticky-cont-item:first-child {
  margin: 0;
}

.sticky-close-menu-box {
  display: flex;
}

.ap-sticky-menu {
}

.ap-sticky-options {
  /* background-color: rgba(128, 128, 128, 0.371); */
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ap-sticky-options:hover {
  background-color: rgba(128, 128, 128, 0.23);
}

.ap-sticky-options img {
  height: 15px;
}

/* Content area styling */
.sticky-note .sticky-content {
  overflow-y: auto;
  font-size: 14px;
  /* border: 1px solid red; */
  height: auto;
  min-height: 100px;
  max-height: 300px;
  /* height: 89.1%; */
  margin: 32px 0 0 0;
  outline: none;
  padding: 10px;
  background-color: var(--strickyContentBG);
  color: #d8d8d8;
  font-size: 0.85rem;
  z-index: 0;
  line-height: 1.5;

  /* scrollbar-width: thin;
  scrollbar-color: #7d7d7d #f2f2f2;  */
}

.sticky-note .sticky-content.placeholder {
  color: #aaa; /* Placeholder text color */
  font-style: italic; /* Optional: make the placeholder italic */
}

/* For Webkit-based browsers (Chrome, Edge, Safari) */
.sticky-note .sticky-content::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.sticky-note .sticky-content::-webkit-scrollbar-thumb {
  background-color: #535353; /* Scrollbar thumb color 
}

.sticky-note .sticky-content::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a; /* Color when hovered */
}

.sticky-note .sticky-content::-webkit-scrollbar-track {
  background-color: #b6b6b6;
}

/* Delete button styling */
.delete-note-btn {
  border: none;
  background-color: transparent;
}

.delete-note-btn i {
  font-size: 0.9rem;
  color: #000;
}

.empty-sticky-div {
  /* background-color: red; */
}

/* ===================== */
#appedle-new-note-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ddd;
  background-color: rgb(239, 239, 239);
  cursor: pointer;
  display: none;
}